<div class="pt-2 pe-3 text-end">
  <%= link_to "Sign out", sign_out_path, class: "btn btn-outline-secondary", data: {method: :delete} %>
</div>

<div class="px-4 my-5 text-center">
  <h1 class="display-5 fw-bold">
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
    <%= current_team.name %> Leaderboard
    <%= image_tag "sparkles.png", width: 75, height: 75, alt: "sparkles", class: "mx-auto mb-3" %>
  </h1>

  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">
      A web leaderboard is coming soon! Check back later.
    </p>
  </div>
</div>
