---
http_interactions:
  - request:
      method: post
      uri: https://slack.com/api/oauth.v2.access
      body:
        encoding: UTF-8
        string: client_id=<SLACK_CLIENT_ID>&client_secret=<SLACK_CLIENT_SECRET>&code=<SLACK_OAUTH_CODE>&redirect_uri=https%3A%2F%2Fsparkles.loca.lt%2Fslack%2Foauth%2Fcallback&token
      headers:
        Content-Type:
          - application/x-www-form-urlencoded
    response:
      status:
        code: 200
        message: OK
      headers:
        X-Slack-Backend:
          - r
        X-Slack-Req-Id:
          - a2966e30a05aff15b78ff1ae6cc6a6f3
        Content-Type:
          - application/json; charset=utf-8
        X-Backend:
          - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
            main_control_with_overflow main_bedrock_control_with_overflow
        X-Server:
          - slack-www-hhvm-main-iad-612q
        X-Slack-Shared-Secret-Outcome:
          - no-match
        X-Edge-Backend:
          - envoy-www
        X-Slack-Edge-Shared-Secret-Outcome:
          - no-match
      body:
        encoding: ASCII-8BIT
        string: '{"ok":true,"app_id":"A02K1J7462C","authed_user":{"id":"U02JE49NDNY"},"scope":"chat:write,commands,reactions:read","token_type":"bot","access_token":"<SLACK_TOKEN>","bot_user_id":"USPARKLEBOT","team":{"id":"T02K1HUQ60Y","name":"Sparkles"},"enterprise":null,"is_enterprise_install":false}'
    recorded_at: Thu, 11 Nov 2021 20:56:15 GMT
recorded_with: VCR 6.0.0
