/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$light-yellow: #ffffdd;
$dark-yellow: #ffda21;
$blue: #4b8aba;

body {
  font-family: SFRounded, ui-rounded, SF Pro Rounded, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: .35px;
  background: rgba(249,245,233,1);
  background: linear-gradient(180deg, $light-yellow 0%, white 100%);
}

a {
  color: $blue;
  text-decoration: none;

  &:hover {
    color: darken($blue, 10%);
  }
}

.progress-bar {
  background-color: $dark-yellow;
}

p.reason {
  text-align: left;
}

.btn-xs, .btn-group-xs > .btn {
  letter-spacing: 0px;
  padding: 0.25rem 0.5rem;
  font-size: 0.5rem;
  border-radius: 0.2rem;
}

.sign-out-button {
  background-color: white;
}

svg.octicon-mark-github {
  fill: #6c757d;
  margin-bottom: .15rem;
}

figure.onboarding-figure {
  transition: transform 1s;

  &:hover {
    &:nth-child(odd) { transform: rotate(1deg); }

    &:nth-child(even) { transform: rotate(-1deg); }
  }
}
