---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/conversations.info
    body:
      encoding: UTF-8
      string: channel=C02P8B73A4Q&token=<SLACK_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,reactions:read,team:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - ea51e80d5ba72a5c18cec338b57f04c8
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-9pf1
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channel":{"id":"C02P8B73A4Q","name":"test","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1634678291,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"test","is_shared":true,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U02JE49NDNY","is_read_only":false,"is_thread_only":false,"is_non_threadable":false,"is_ext_shared":false,"shared_team_ids":["T02K1HUQ60Y","E163Q94DX"],"pending_connected_team_ids":[],"is_member":true,"last_read":"1636418857.001000","topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"A channel for testing.","creator":"U02JE49NDNY","last_set":1634678291},"previous_names":[]}}'
  recorded_at: Wed, 24 Nov 2021 19:31:24 GMT
recorded_with: VCR 6.0.0
