---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/oauth.v2.access
    body:
      encoding: UTF-8
      string: client_id=<SLACK_CLIENT_ID>&client_secret=<SLACK_CLIENT_SECRET>&code=<SLACK_OAUTH_CODE>&redirect_uri=https%3A%2F%2Fsparkles.loca.lt%2Fslack%2Foauth%2Fcallback&token
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Slack-Req-Id:
      - a2966e30a05aff15b78ff1ae6cc6a6f3
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-612q
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"app_id":"A02K1J7462C","authed_user":{"id":"U02JE49NDNY","scope":"openid","access_token":"<SLACK_TOKEN>","token_type":"user"},"scope":"channels:join,channels:read,chat:write,commands,groups:read,team:read,users:read,reactions:read,emoji:read,channels:history,groups:history,users.profile:read","token_type":"bot","access_token":"<SLACK_TOKEN>","bot_user_id":"USPARKLEBOT","team":{"id":"T02K1HUQ60Y","name":"Sparkles"},"enterprise":null,"is_enterprise_install":false}'
  recorded_at: Thu, 11 Nov 2021 20:56:15 GMT
- request:
    method: post
    uri: https://slack.com/api/team.info
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:join,channels:read,chat:write,commands,groups:read,team:read,users:read,reactions:read,emoji:read,channels:history,groups:history,users.profile:read
      X-Accepted-Oauth-Scopes:
      - team:read
      X-Slack-Req-Id:
      - 9b1a9b94f58f3413c4997f9845edf329
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-zwzz
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"team":{"id":"T02K1HUQ60Y","name":"Sparkles","domain":"sparkles-ts66289","email_domain":"","icon":{"image_102":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_102.png","image_132":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_132.png","image_230":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_230.png","image_34":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_34.png","image_44":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_44.png","image_68":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_68.png","image_88":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_88.png","image_original":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_original.png"},"is_verified":false}}'
  recorded_at: Thu, 11 Nov 2021 20:56:16 GMT
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:join,channels:read,chat:write,commands,groups:read,team:read,users:read,reactions:read,emoji:read,channels:history,groups:history,users.profile:read
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Req-Id:
      - da14e4ad1951c2beae5aceaff9191187
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-ld1e
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"U02JE49NDNY","team_id":"T02K1HUQ60Y","name":"davidcelis","deleted":false,"color":"9f69e7","real_name":"David
        Celis","tz":"America\/Los_Angeles","tz_label":"Pacific Standard Time","tz_offset":-28800,"profile":{"title":"Chief
        Cowboy","phone":"+1 (813) 468-9737","skype":"","real_name":"David Celis","real_name_normalized":"David
        Celis","display_name":"David","display_name_normalized":"David","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"g66b085a6f16","pronouns":"he\/him\/his","first_name":"David","last_name":"Celis","image_24":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-512.png","status_text_canonical":"","team":"T02K1HUQ60Y"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":1636229183,"is_email_confirmed":true,"who_can_share_contact_card":"EVERYONE"}}'
  recorded_at: Thu, 11 Nov 2021 20:56:16 GMT
recorded_with: VCR 6.0.0
