---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>&user=USPARKLEBOT
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,reactions:read,team:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Req-Id:
      - '09de3f2e4abf439d1888c8694d78a1eb'
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-9tm1
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"USPARKLEBOT","team_id":"T02K1HUQ60Y","name":"sparklebot_developmen","deleted":false,"color":"684b6c","real_name":"Sparklebot
        (Development)","tz":"America\/Los_Angeles","tz_label":"Pacific Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Sparklebot
        (Development)","real_name_normalized":"Sparklebot (Development)","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"caaf8b624374","api_app_id":"A02N01LRHLP","always_active":true,"image_original":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_original.png","is_custom_image":true,"bot_id":"B02NBNY1AJH","first_name":"Sparklebot","last_name":"(Development)","image_24":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2021-11-23\/2762725527282_caaf8b624374cab2d426_1024.png","status_text_canonical":"","team":"T02K1HUQ60Y"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":1637710955,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"}}'
  recorded_at: Thu, 25 Nov 2021 02:09:55 GMT
recorded_with: VCR 6.0.0
