---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/team.info
    body:
      encoding: UTF-8
      string: token=<SLACK_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,reactions:read,team:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - team:read
      X-Slack-Req-Id:
      - d292266d6ed1b3807392c4bc04db323c
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-09qu
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"team":{"id":"T02K1HUQ60Y","name":"Sparkles","url":"https:\/\/sparkles-ts66289.slack.com\/","domain":"sparkles-ts66289","email_domain":"","icon":{"image_102":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_102.png","image_132":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_132.png","image_230":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_230.png","image_34":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_34.png","image_44":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_44.png","image_68":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_68.png","image_88":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_88.png","image_original":"https:\/\/avatars.slack-edge.com\/2021-10-23\/2642530172644_b1f7592ed7472c2dfb0e_original.png"},"is_verified":false}}'
  recorded_at: Thu, 25 Nov 2021 02:24:15 GMT
- request:
    method: post
    uri: https://slack.com/api/users.list
    body:
      encoding: UTF-8
      string: cursor&limit=1000&token=<SLACK_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,reactions:read,team:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - users:read
      X-Slack-Req-Id:
      - 9f2b85bebdd16bddb4138a5007f447bf
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-2nl5
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"members":[{"id":"USLACKBOT","team_id":"T02K1HUQ60Y","name":"slackbot","deleted":false,"color":"757575","real_name":"Slackbot","tz":"America\/Los_Angeles","tz_label":"Pacific
        Standard Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slackbot","real_name_normalized":"Slackbot","display_name":"Slackbot","display_name_normalized":"Slackbot","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"sv41d8cd98f0","always_active":true,"first_name":"slackbot","last_name":"","image_24":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_24.png","image_32":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_32.png","image_48":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_48.png","image_72":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_72.png","image_192":"https:\/\/a.slack-edge.com\/80588\/marketing\/img\/avatars\/slackbot\/avatar-slackbot.png","image_512":"https:\/\/a.slack-edge.com\/80588\/img\/slackbot_512.png","status_text_canonical":"","team":"T02K1HUQ60Y"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false,"is_app_user":false,"updated":0,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"},{"id":"U02J7PC3Z39","team_id":"T02K1HUQ60Y","name":"sdt","deleted":false,"color":"e7392d","real_name":"Slack
        Developer Tools","tz":"America\/Los_Angeles","tz_label":"Pacific Standard
        Time","tz_offset":-28800,"profile":{"title":"","phone":"","skype":"","real_name":"Slack
        Developer Tools","real_name_normalized":"Slack Developer Tools","display_name":"","display_name_normalized":"","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"99d2d7b21baa","api_app_id":"APXEJ79UY","always_active":true,"image_original":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_original.png","is_custom_image":true,"bot_id":"B02JNE9LGPM","first_name":"Slack","last_name":"Developer
        Tools","image_24":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2021-10-21\/2627746167622_99d2d7b21baa7274e0e5_1024.png","status_text_canonical":"","team":"T02K1HUQ60Y"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":true,"is_app_user":false,"updated":1634853321,"is_email_confirmed":false,"who_can_share_contact_card":"EVERYONE"},{"id":"U02JE49NDNY","team_id":"T02K1HUQ60Y","name":"davidcelis","deleted":false,"color":"9f69e7","real_name":"David
        Celis","tz":"America\/Los_Angeles","tz_label":"Pacific Standard Time","tz_offset":-28800,"profile":{"title":"Chief
        Cowboy","phone":"+1 (813) 468-9737","skype":"","real_name":"David Celis","real_name_normalized":"David
        Celis","display_name":"David","display_name_normalized":"David","fields":null,"status_text":"","status_emoji":"","status_emoji_display_info":[],"status_expiration":0,"avatar_hash":"g66b085a6f16","pronouns":"he\/him\/his","first_name":"David","last_name":"Celis","image_24":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0002-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/66b085a6f16864adae78586e92811a73.jpg?s=48&d=https%3A%2F[...]
- request:
    method: post
    uri: https://slack.com/api/conversations.list
    body:
      encoding: UTF-8
      string: cursor&exclude_archived=true&limit=1000&token=<SLACK_TOKEN>&types=public_channel%2Cprivate_channel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Slack-Backend:
      - r
      X-Oauth-Scopes:
      - channels:history,channels:join,channels:read,chat:write,commands,emoji:read,groups:history,groups:read,reactions:read,team:read,users.profile:read,users:read
      X-Accepted-Oauth-Scopes:
      - channels:read,groups:read,mpim:read,im:read,read
      X-Slack-Req-Id:
      - 214e147546b05552945b4f201046643c
      Content-Type:
      - application/json; charset=utf-8
      X-Backend:
      - main_normal main_bedrock_normal_with_overflow main_canary_with_overflow main_bedrock_canary_with_overflow
        main_control_with_overflow main_bedrock_control_with_overflow
      X-Server:
      - slack-www-hhvm-main-iad-3vax
      X-Slack-Shared-Secret-Outcome:
      - no-match
      X-Edge-Backend:
      - envoy-www
      X-Slack-Edge-Shared-Secret-Outcome:
      - no-match
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"channels":[{"id":"C02J565A4CE","name":"general","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1634678291,"is_archived":false,"is_general":true,"unlinked":0,"name_normalized":"general","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U02JE49NDNY","is_ext_shared":false,"shared_team_ids":["T02K1HUQ60Y"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"","last_set":0},"purpose":{"value":"This
        is the one channel that will always include everyone. It\u2019s a great spot
        for announcements and team-wide conversations.","creator":"U02JE49NDNY","last_set":1634678291},"previous_names":[],"num_members":7},{"id":"C02JBTVC17D","name":"random","is_channel":true,"is_group":false,"is_im":false,"is_mpim":false,"is_private":false,"created":1634678291,"is_archived":false,"is_general":false,"unlinked":0,"name_normalized":"random","is_shared":false,"is_org_shared":false,"is_pending_ext_shared":false,"pending_shared":[],"parent_conversation":null,"creator":"U02JE49NDNY","is_ext_shared":false,"shared_team_ids":["T02K1HUQ60Y"],"pending_connected_team_ids":[],"is_member":true,"topic":{"value":"","creator":"[...]
